html{
    font-family:"raleway";
    color: #212121;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.tcblack{color: #212121;}

brand{color: #212121;}

.tomgreen{color: #f8cdc6}

brand:after{
    display: block;
    content: '';
    width: 50px;
    border-bottom: 8px solid #f8cdc6;
    position: absolute;
    left: 3px;
    top: 22px;
    z-index: -1;
}

.mobilemenu{
    display:none;
}

.navigation a{
    text-decoration: none;
    color: #212121;
}

.tombox{
  position:relative;
  border:4px solid ##f8cdc6;
  height:500px;
  max-width:800px
}

.tomboxinner{
    position:absolute;
    width:450px;
    height:600px;
    left:-470px;
    top:-54px;
    z-index:-1;
}
.tomboxinner img{
  height:100%;
}

.tcsectionheader{
    font-size:40px;
    line-height:30px;
    
}

.contactbox a{
text-decoration: none;
    border: 4px solid #f8cdc6;
    padding: 20px;
    -webkit-transition: padding 100ms;
    -moz-transition: padding 100ms;
    -ms-transition: padding 100ms;
    -o-transition: padding 100ms;
    transition: padding 100ms;
}

.contactbox a:hover {
    padding: 30px;
}

ul a:hover, ol a:hover, p a:hover {
    border-bottom: 4px solid #f8cdc6;
}

ul a, ol a, p a, form a, .mobilemenu a, .next, .previous, h3 a, h4 a {
    text-decoration: none;
    color: #212121;
    border-bottom: 2px solid #f8cdc6;
    transition: ease-in .05s border-bottom;
}

blockquote {
    background: #f3f3f3;
    margin: 0px;
    padding: 20px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    font-family:"georgia"
  }

  blockquote:after {
    visibility: hidden;
    color: #111;
    content: close-quote;
    font-size: 4em;
    line-height: 0;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }

.postcontainer{
    word-wrap:break-word;
}

.postcontainer h2, .postcontainer h3{
    padding-top: 1rem;
}

.postcontainer img{
    max-width:150%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.postcontainer iframe{
padding-top: 30px;
    padding-bottom: 30px;
}

#copytext{
        cursor: pointer;
}

.tcgrey{
    background-color: #f3f3f3;
}

.footnotes{
    color:grey;
    font-size:14px;
}

footer{
    min-height:300px;
}

.dottedgreenarrow{
    border-top:2px dashed #f8cdc6;
    margin-top:10px;
    margin-bottom:10px;
    position:relative;
}

.dottedgreenarrow::before{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #f8cdc6;
}

.dottedgreenarrow::after{
    position: absolute;
    content: '';
    bottom: -4px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #f8cdc6;
}

/* ========== Hero ========== */

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  min-height: 500px;
  background-color: rgba(220, 235, 245, 0.2) !important;
  -webkit-background-size: cover !important;
          background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.hero::before {
  content: "";
  display: block;
  padding-top: 35%;
}

.hero-content {
  max-width: 500px;
  padding: 0 20px;
  text-align: center;
}

.hero-content .hero-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  border-bottom: 10px solid #f8cdc6;
  text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.1);
}

.hero-content .hero-description {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.7;
  color: #212121;
  text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.1);
}

/* ========== Post Body ========== */

.posts {
  width: 100%;
  width: -webkit-calc(100% / 12 * 4 - 30px);
  width: calc(100% / 12 * 4 - 30px);
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 1.5rem 0;
  background: #ffffff;
  -webkit-box-shadow: 0 4px 9px rgba(30, 59, 91, 0.08);
          box-shadow: 0 4px 9px rgba(30, 59, 91, 0.08);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  overflow: hidden;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  margin-left: -15px;
  margin-right: -15px;
  margin: 0 15px 30px;
}

.posts .post-thumbnail {
  display: block;
  -webkit-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
  background-color: rgba(220, 235, 245, 0.2);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

.posts .post-thumbnail:before {
  content: "";
  display: block;
  padding-top: 56%;
}

.posts:hover {
  -webkit-transform: translate(0px, -3px);
      -ms-transform: translate(0px, -3px);
          transform: translate(0px, -3px);
  -webkit-box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
          box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
}

.posts:hover .cover,
.posts:hover .author-box,
.posts:hover .post-share {
  opacity: 1;
}

.post-thumbnail {
  position: relative;
  -webkit-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.post-thumbnail .author-box {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  left: 30px;
  bottom: 20px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.post-thumbnail .author-box .author-info {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin-left: 10px;
  color: #ffffff;
  letter-spacing: 0.8px;
  font-size: 12px;
  font-weight: 700;
}

.post-thumbnail .author-image-cover {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
}

.post-thumbnail .author-image-small {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-thumbnail .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 197, 217, 0.1)), color-stop(40%, transparent), color-stop(60%, transparent), to(rgba(0, 197, 217, 0.6)));
  background: -webkit-linear-gradient(top, rgba(0, 197, 217, 0.1) 0, transparent 40%, transparent 60%, rgba(0, 197, 217, 0.6));
  background: -o-linear-gradient(top, rgba(0, 197, 217, 0.1) 0, transparent 40%, transparent 60%, rgba(0, 197, 217, 0.6));
  background: linear-gradient(180deg, rgba(0, 197, 217, 0.1) 0, transparent 40%, transparent 60%, rgba(0, 197, 217, 0.6));
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  opacity: 0;
}

.post-body {
  padding: 40px 30px;
}

.post-body h2 {
  margin: 0 0 15px;
  font-size: 27px;
  font-weight: 400;
}

.post-body h2 a {
  text-decoration: none;
  color: #222;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.post-body h2 a:hover {
  color: #000000;
}

.post-body p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #787878;
}

.post-body .more {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #222;
  font-size: 14px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.post-body .more:hover {
  color: #000000;
  -webkit-box-shadow: inset 0 -8px 0 rgba(0, 197, 217, 0.6);
          box-shadow: inset 0 -8px 0 rgba(0, 197, 217, 0.6);
}

.post-share {
  position: absolute;
  top: 10px;
  right: 20px;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  opacity: 0;
}

.post-share .share-icon {
  display: inline-block;
  font-size: 15px;
  padding: 5px;
  color: #ffffff;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.post-share .share-icon:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.post-share .share-twitter:hover {
  color: #55acee;
}

.post-share .share-facebook:hover {
  color: #3b5999;
}

.post-share .share-pinterest:hover {
  color: #bd081c;
}

.full-page-container {
  min-height: 100vh;
  position: relative;
  right: 0;
  -webkit-transition: right 0.35s cubic-bezier(0.565, 1.65, 0.765, 0.9);
  -o-transition: right 0.35s cubic-bezier(0.565, 1.65, 0.765, 0.9);
  transition: right 0.35s cubic-bezier(0.565, 1.65, 0.765, 0.9);
}

.full-page-container.open {
  right: 250px;
}