---
title: Consultoria de Marketing Digital 
heading: Consultoria de Marketing Digital
subtitle: Conheça consultores de Marketing Digital que são destaques no mercado e garantia de sucesso para seu negócio!
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_cv/" class="btn"><strong>&#9998;</strong>Manage Consultores</a></p>
		<ul class="image-grid">
			{% for cv in site.cv %}
				<li>
					<a href="{{ site.baseurl }}{{ cv.url }}">
						<img src="{% include relative-src.html src=cv.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ cv.name }}</div>
							<div class="position">{{ cv.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
