---
title: Experiência em SEO e Data Analytics
heading: Fabiola Faria
subtitle: Conheça um pouco sobre minha experiência!
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_cv/" class="btn"><strong>&#9998;</strong>Manage Consultores</a></p>
		<ul class="image-grid">
			{% for cv in site.cv %}
				<li>
					<a href="{{ site.baseurl }}{{ cv.url }}">
						<img src="{% include relative-src.html src=client.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ cv.name }}</div>
							<div class="position">{{ cv.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
