---
layout: page
title: Web Analytics
permalink: /web-analytics/index.html
title: Web Analytics
tags: [Web Analytics]
description: "An archive of posts sorted by categories."

---

{% for tag in site.categories %} 
  <!--<h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2> -->
  <ul class="post-list">
    {% assign pages_list = tag[1] %}  
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a><p>{{ post.content | strip_html | truncatewords:40 }}</p></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}