<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.metatitle %}{{page.metatitle}}{% elsif page.title%}{{page.title}}{% else %}SEOAnalytics{% endif %}</title>
    <meta name="description" content="SEOAnalytics">

<link href='https://fonts.googleapis.com/css?family=Raleway:400,400italic,700,300,800' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/css/tachyons.min.css">

<link href="/css/all.css" rel="stylesheet">
<link href="/css/mobile.css" rel="stylesheet">


<link rel="icon" href="/images/favicon.png" />

<meta name="viewport" content="width=device-width">

<script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>

 <meta property="og:type"   content="article" />
 <meta property="og:url"    content="{{page.url}}" />
 <meta property="og:title"  content="{% if page.title %}{{page.title}}{% else %}SEOAnalytics{% endif %}" />
 <meta property="og:image"  content="" />
 <meta property="og:image:width"  content="600" />
 <meta property="og:image:height"  content="315" />

{% if page.layout == 'blog' %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@fabiola_faria">
<meta name="twitter:creator" content="@fabiola_faria">
<meta name="twitter:title" content="{% if page.title %}{{page.title}}{% else %}Nada Aqui{% endif %}">
<meta name="twitter:description" content="{% if page.subtitle %}{{page.subtitle}}{% else %}{{page.content | truncatewords:20 | strip_html}}{% endif %}">
<meta name="twitter:image" content="">

{% endif %}
 
<meta name="pocket-site-verification" content="d481265d27c9597cbdc003abbf1994" />

</head>

<body class="w-100 ph0-l center">