*, *::after, *::before {
  box-sizing: border-box;
}

.hidden {
	opacity: 0;
}

.visible {
	opacity: 1;
}

table tr:hover {
  background-color: $white;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: transparent;
  z-index: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.7);
  transition: all .2s ease;
  &.show {
    pointer-events: auto;
    filter: none;
    opacity: 1;
  }
}

.full-page-container {
  min-height: 100vh;
  position: relative;
  right: 0;
  transition: right .35s cubic-bezier(0.565, 1.65, 0.765, 0.90);
  &.open {
    right: 250px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;  
  width: 1440px;
  max-width: 100%;
  margin: 80px auto 80px;
  transition: all .35s ease;
  @media screen and (max-width: 480px) {
    margin: 50px auto 20px;
  }
}

.wrapper-content {
  position: relative;
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 20px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid $blue;
  border-radius: 0;
  background-color: transparent;
  color: $blue;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
  
  &:hover {
    background-color: $blue;
    color: $white;
  }

  &-middle {
    width: 100%;
    max-width: 350px;
  }

  &-big {
    width: 100%;
    display: block;
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.clearfix::after, .clearfix::before {
  content: "";
  display: table;
  clear: both;
}

::-moz-selection {
  background: $blue-highlighted;
  color: #ffffff;
}

::selection {
  background: $blue-highlighted;
  color: #ffffff;
}