{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}



<div class="mw8 center lh-copy f4 postcontainer ph3 ph0-l">
  
  <div class="pt4 w-two-thirds-ns">
  
      <h1 class="f2 f1-l fw8 lh-solid mv2 posttitle">{{page.title}}</h1>

    {% if page.subtitle %}
    <h2 class="f3 fw3 lh-copy mv2">{{page.subtitle}}</h2>
      {% endif %}

    {% if page.date %}
    <div class="f5 f6-s ttu black-20 pv3">{{ page.date | date: "%B %-d, %Y" }}</div>
      {% endif %}
  </div>
  
  
  <div class="w-two-thirds-ns">
  
  {{content}}
  
  {% assign author = site.authors[page.author] %}
    <div class="post-author">
      {% if author %}
      <div class="post-author-image">
        <a style="background-image: url({{"/images/" | prepend: site.baseurl | append: author.author-image}})">
        </a>
      </div>
      <div class="post-author-info">
        <h4>{{ author.author-name }}</h4>
        <p class="post-author-bio">{{ author.about-author }}</p>
        <div class="post-author-meta">
          {% if author.author-twitter %}
          <a href="{{ author.author-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if author.author-facebook %}
          <a href="{{ author.author-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if author.author-instagram %}
          <a href="{{ author.author-instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if author.author-pinterest %}
          <a href="{{ author.author-pinterest }}" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if author.author-email %}
          <a href="mailto:{{ author.author-email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
        </div>
      </div>
      {% else %}
      <div class="post-author-image">
        <a style="background-image: url({{"/images/" | prepend: site.baseurl | append: site.author-image}})">
          <span class="screen-reader-text">{{site.author-name}} Picture</span>
        </a>
      </div>
      <div class="post-author-info">
        <h4>{{ site.author-name }}</h4>
        <p class="post-author-bio">{{ site.about-author }}</p>
        <div class="post-author-meta">
          {% if site.twitter %}
          <a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if site.facebook %}
          <a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if site.instagram %}
          <a href="{{ site.instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if site.pinterest %}
          <a href="{{ site.pinterest }}" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if site.author-email %}
          <a href="mailto:{{ site.author-email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>


  <hr class="w3 mv5">

  <div class="Previous-next f6 cf pb4">
    {% if page.previous.url %}
    <div class="fl w-40">
    <span class="ttu tracked">⇜ PREVIOUS</span><br>
      <a class="previous" href="{{page.previous.url}}">{{page.previous.title}}</a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="fr w-40 tr">
    <span class="ttu tracked">NEXT ⇝</span><br>
      <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
    </div>
    {% endif %}
  </div>

<div class="f5 i">
   <a href="https://tinyletter.com/">Tinyletter</a>.
</div>
                                    

</div>
</div>

{% if site.disqus-identifier %}
      {% include disqus-comments.html %}
{% endif %}
{% include footer.html %}