{% include head.html %}

{% include googleanalytics.html %}

{% include header.html %}



<div class="mw8 center lh-copy f4 postcontainer ph3 ph0-l">
  
  <div class="pt4 w-two-thirds-ns">
  
      <h1 class="f2 f1-l fw8 lh-solid mv2 posttitle">{{page.title}}</h1>

    {% if page.subtitle %}
    <h2 class="f3 fw3 lh-copy mv2">{{page.subtitle}}</h2>
      {% endif %}

    {% if page.date %}
    <div class="f5 f6-s ttu black-20 pv3">{{ page.date | date: "%B %-d, %Y" }}</div>
      {% endif %}
  </div>
  
  
  <div class="w-two-thirds-ns">
  
  {{content}}


  <hr class="w3 mv5">

  <div class="Previous-next f6 cf pb4">
    {% if page.previous.url %}
    <div class="fl w-40">
    <span class="ttu tracked">⇜ PREVIOUS</span><br>
      <a class="previous" href="{{page.previous.url}}">{{page.previous.title}}</a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="fr w-40 tr">
    <span class="ttu tracked">NEXT ⇝</span><br>
      <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
    </div>
    {% endif %}
  </div>

<div class="f5 i">
   <a href="https://tinyletter.com/">Tinyletter</a>.
</div>


 {% if site.disqus-identifier %}
      {% include disqus-comments.html %}
 {% endif %}
                                    

</div>
</div>


{% include footer.html %}