---
layout: default
---
{% assign portfolio = site.pages | where: "path", "consultores.html" | first %}

<section class="hero diagonal">
	<div class="container">
		{% if consultores.heading %}
		<h2>{{ cv.name }} | {{cv.position}}</a></h2>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ cv.name }} | {{ page.subtitle }}</p>
		{% endif %}
	</div>
</section>

<section class="diagonal">
	<div class="container">
		<img src="{% include relative-src.html src=page.image_path %}" class="screenshot">
			{{ content }}
		</div>
		<p><a href="{{ page.external_url }}">View {{ page.title }} &rarr;</a></p>
	</div>
</section>
